<div class="fill vc home-form">
  <div class="w-75 home-logo">


    <h1>Log In</h1>

    <%= bootstrap_form_tag url: "/login" do |f| %>
      <%= f.email_field :email %>

      <%= f.password_field :password %>

      <%= f.submit "Log In" %>
    <% end %>

    <br>

    <%= link_to "Login with Facebook", '/auth/facebook' %>

  </div>
</div>
